In [21]:
#script by rikardoroa
#script date 22/09/2021
#just python it!!

import pandas as pd 
import numpy as np


class new_dataframe:
    
    
    def __init__(self, lst=['Java', 'Python', 'C', 'C++', 'JavaScript', 'Swift', 'Go']):
        
        self.lst  = lst
        
    
    def dataframe_processing_t1(self): #index filtering
        
        lst = self.lst
        dframe = pd.DataFrame(lst,columns=['Data'])  
        dframe_target = pd.DataFrame(columns=['Data'])   


        for index in dframe.index:
            if (dframe.loc[index]).any() == 'Java' or (dframe.loc[index]).any() == 'JavaScript':
                dframe_target.loc[index]=dframe.loc[index]

        for index_k in dframe_target.index:
            for index in dframe.index:
                if (dframe.loc[index] == dframe_target.loc[index_k]).any() is True:
                    dframe_target.loc[index_k] =  dframe.loc[index]
                    
        dframe_target.reset_index(drop=True, inplace=True)     
        return dframe_target.head()
    
    
    def dataframe_processing_t2(self): #Df filtering
        
        lst = self.lst
        dframe = pd.DataFrame(lst,columns=['Data'])  
        dframe_target = pd.DataFrame(columns=['Data'])  
        dframe_target  = dframe[(dframe['Data']=='Java')|(dframe['Data']=='JavaScript')]
        dframe_target.reset_index(drop=True, inplace=True)
        return dframe_target.head()
  
                
    def dataframe_processing_t3(self): #loc filtering
       
        lst = self.lst
        dframe = pd.DataFrame(lst,columns=['Data'])  
        dframe_target = pd.DataFrame(columns=['Data'])  
        dframe_target = dframe.loc[(dframe.Data =='Java')|(dframe.Data =='JavaScript'), :]
        dframe_target.reset_index(drop=True, inplace=True)                               
        return dframe_target.head()
    
    
    def dataframe_processing_t4(self): #query filtering
       
        lst = self.lst
        dframe = pd.DataFrame(lst,columns=['Data'])  
        dframe_target = pd.DataFrame(columns=['Data'])  
        dframe_target = dframe.query("Data == 'Java' or Data == 'JavaScript'")
        dframe_target.reset_index(drop=True, inplace=True)                               
        return dframe_target.head()
     
        
    def dataframe_processing_t5(self): #numpy where filtering
       
        lst = self.lst
        dframe = pd.DataFrame(lst,columns=['Data'])  
        dframe_target = pd.DataFrame(columns=['Data'])  
        filter_data = np.where((dframe['Data']=='Java') | (dframe['Data']=='JavaScript')) 
        dframe_target = dframe.loc[filter_data]
        dframe_target.reset_index(drop=True, inplace=True)                               
        return dframe_target.head()

In [22]:
Print_data = new_dataframe()
Print_data.dataframe_processing_t1()

         Data
0        Java
1  JavaScript

In [23]:
Print_data.dataframe_processing_t2()

         Data
0        Java
1  JavaScript

In [24]:
Print_data.dataframe_processing_t3()

         Data
0        Java
1  JavaScript

In [25]:
Print_data.dataframe_processing_t4()

         Data
0        Java
1  JavaScript

In [26]:
Print_data.dataframe_processing_t5()

         Data
0        Java
1  JavaScript